* {
	box-sizing: border-box;
	margin: 0; padding: 0;
}
:root {
	--soft-dark-color: #1b2f47;
	--main-bg-color: black;
	--color-of-love: #DE1D42;
}

.position__abs{position: absolute;}
.bicycle {
	width: 730px;
	height: 430px;
	position: relative;
}
.wheel {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 20px solid black;
	top: 0; left: 0;
}