* {
	box-sizing: border-box;
	margin: 0; padding: 0;
}
:root {
	--soft-dark-color: #1b2f47;
	--main-bg-color: black;
	--color-of-love: #DE1D42;
}
@font-face {
	font-family: 'chasing_heartsregular';
	src: url('fonts/chasing_hearts.woff2') format('woff2'), url('fonts/chasing_hearts.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'FeelingLovely';
	src: url('fonts/FeelingLovely.eot?#iefix') format('embedded-opentype'),  url('fonts/FeelingLovely.woff') format('woff'), url('fonts/FeelingLovely.ttf')  format('truetype'), url('fonts/FeelingLovely.svg#FeelingLovely') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
body {
	background-color: #ffffff;
	text-align: center;
}
.absolute {
	position: absolute;
}
.artwork {
	width: 446px;
	height: 625px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 100px;
}
.browser {
	border: 12px solid var(--soft-dark-color);
	width: 100%;
	height: 330px;
	border-radius: 40px;
	top: 0;
	left: 0;
}
.browser__menubar {
	width: 100%;
	height: 60px;
	overflow: hidden;
}
.browser__menubar::before,
.browser__menubar::after {
	content: "";
	position: absolute;
	top: 46px;
	width: 90%;
	height: 12px;
	background-color: var(--soft-dark-color);
}
.browser__menubar::before {
	left: 0;
	width: 87%;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.browser__menubar::after {
	right: 0;
	width: 10%;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.browser__menubar_icon {
	top: 16px;
	left: 16px;
	width: 18px;
	height: 18px;
	background-color: var(--soft-dark-color);
	border-radius: 50%;
}
.browser__menubar_icon::before,
.browser__menubar_icon::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 25px;
	width: 18px;
	height: 18px;
	background-color: var(--soft-dark-color);
	border-radius: 50%;
}
.browser__menubar_icon::after {
	left: 50px;
	width: 18px;
	height: 18px;
	background-color: var(--soft-dark-color);
	border-radius: 50%;
}
.heart__container {
	top: 120px;
    height: 347px;
    width: 100%;
}
.heart_fill {
	top: 0;
    left: 0;
    margin: auto;
    background-color:var(--soft-dark-color);
    height: 63px;
    width: 63px;
    transform: rotate(-45deg);
}
.heart_fill::after {
	content: "";
    background-color: var(--soft-dark-color);
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 63px;
    height: 63px;
    top: 0px;
    left: 35px;
}
.heart_fill::before {
	content: "";
    background-color: var(--soft-dark-color);
    border-radius: 50%;
    position: absolute;
    width: 63px;
    height: 63px;
    top: -35px;
    left: 0px;
}
.line {
	width: 14px;
	height: 100px;
	background-color: var(--soft-dark-color);
	border-radius: 15px;
	left: -22px;
	top: 47px;
}
.line::after {
	content: "";
	position: absolute;
	width: 14px;
	height: 30px;
	background-color: var(--soft-dark-color);
	border-radius: 15px;
}
.heart_1 {
	top: 100px;
	left: 60px;
}
.line_left {
	left: -22px;
	top: 50px;
}
#love {
	transform: scale(.98);
}
.line_left::after {
	left: 0;
	top: 105px;
}
.line_middle {
	left: 24px;
	top: 85px;
}
.line_middle::after {
	left: 0;
	top: 105px;
	height: 38px;
}
.line_right {
	left: 77px;
	top: 50px;
	height: 100px;
}
.line_right::after {
	left: 0;
	top: 105px;
}
.heart_2 {
	top: 0;
	left: 170px;
}
.heart_2 .line_left {
	left: 0px;
	top: 70px;
}
.heart_2 .line {
	background-color: var(--color-of-love);
	height: 108px;
}
.heart_2 .line:after {
	background-color: var(--color-of-love);
}
.heart_2 .line_middle {
	left: 55px;
	top: 120px;
	height: 98px;
}
.heart_2 .line_right {
	left: 108px;
	top: 71px;
	height: 132px;
}

.heart_2 .line_right::after {
	top: 140px;
}

.heart_2 .line_right::before {
	content: "";
    position: absolute;
    width: 14px;
	height: 68px;
    background-color: var(--color-of-love);
    border-radius: 15px;
    left: 0;
    top: 173px;
}

.heart_2 .line_left::after {
	height: 42px;
    top: 114px;
}

.heart_2 .line_left::before {
	content: "";
    position: absolute;
    width: 14px;
    height: 65px;
    background-color: var(--color-of-love);
    border-radius: 15px;
    left: 0;
    top: 163px;
}

.heart_3 {
	top: 155px;
	left: 332px;
}
.heart_3 .line_left {
	height: 80px;
}
.heart_3 .line_left::after {
	top: 85px;
}
.heart_3 .line_middle::after {
	display: none;
}
.heart_3 .line_right {
	top: 67px;
	height: 85px;
}
.heart_3 .line_right::after {
	top: 90px;
}
h1 {
	font-family: chasing_heartsregular;
	font-size: 60px;
	color: var(--color-of-love);
}

.title {
    width: 100%;
    height: 100px;
	top: 500px;	
}

h1 {
	font-weight: 400;
}

h2 {
	color: #afafaf;
    font-family: 'FeelingLovely';
    font-weight: 400;
    font-size: 32px;
    top: 51px;
    left: 25px;
}