:root {
  --soft-dark-color: #1b2f47;
  --main-bg-color: black;
}

@font-face {
    font-family: 'chasing_heartsregular';
    src: url('fonts/chasing_hearts.woff2') format('woff2'),
         url('fonts/chasing_hearts.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #ffffff;
  text-align: center;
}


.absolute {
  position: absolute;
}

.artwork {
  width: 430px;
  height: 615px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.browser {
  border: 12px solid var(--soft-dark-color);
  width: 100%;
  height: 318px;
  border-radius: 40px;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.browser__menubar {
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.browser__menubar::before,
.browser__menubar::after {
  content: "";
  position: absolute;
  top: 46px;
  width: 90%;
  height: 12px;
  background-color: var(--soft-dark-color);
}

.browser__menubar::before {
  left: 0;
  width: 87%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.browser__menubar::after {
  right: 0;
  width: 10%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.browser__menubar_icon {
  top: 16px;
  left: 16px;
  width: 18px;
  height: 18px;
  background-color: var(--soft-dark-color);
  border-radius: 50%;
}

.browser__menubar_icon::before,
.browser__menubar_icon::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 25px;
  width: 18px;
  height: 18px;
  background-color: var(--soft-dark-color);
  border-radius: 50%;
}

.browser__menubar_icon::after {
  left: 50px;
  width: 18px;
  height: 18px;
  background-color: var(--soft-dark-color);
  border-radius: 50%;
}


.heart_fill {
  top: 0;
  left: 0;
  margin: auto;
  background-color: #1b2f47;
  height: 70px;
  width: 70px;
  transform: rotate(-45deg);
}
.heart_fill::after {
  content: "";
  background-color: #1b2f47;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0px;
  left: 36px;
}
.heart_fill::before {
  content: "";
  background-color: #1b2f47;
  border-radius: 50%;
  position: absolute;
  width: 70px;
  height: 70px;
  top: -36px;
  left: 0px;
}



.line {
  width: 16px;
  height: 100px;
  background-color: #1b2f47;
  border-radius: 15px;
  left: -22px;
  top: 47px;
}

.line::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 30px;
  background-color: #1b2f47;
  border-radius: 15px;
}

.heart_1 {
  top: 195px;
  left: 60px;
}

.line_left {
  left: -22px;
  top: 50px;
}

.line_left::after {
 left: 0;
  top: 105px;
}

.line_middle {
  left: 27px;
    top: 95px;
}

.line_middle::after {
 left: 0;
  top: 105px;
  height: 38px;
}

.line_right {
  left: 77px;
  top: 50px;
  height: 100px;

}

.line_right::after {
 left: 0;
  top: 105px;
}

.heart_2 {
  top: 115px;
  left: 170px;
}

.heart_2 .line_left {
  height: 80px;
}


.heart_3 {
  top: 255px;
  left: 300px;
}

.heart_3 .line_left {
  height: 80px;
}

.heart_3 .line_left::after {
  top: 85px;
}

.heart_3 .line_middle::after {
 display: none;
}

.heart_3 .line_right {
    top: 67px;
    height: 85px;
}

.heart_3 .line_right::after {
  top: 90px;
}

h1 {
  font-family: chasing_heartsregular;
  font-size: 60px;
  color: #df003f;
}