* {
	box-sizing: border-box;
	margin: 0; padding: 0;
}
:root {
	--soft-dark-color: #1b2f47;
	--main-bg-color: black;
	--color-of-love: #DE1D42;
}

body {
	background-color: #f7d546;
}

.position__abs{position: absolute;}
.bicycle {
	width: 730px;
	height: 810px;
	position: relative;
	 margin: 0 auto;
}
.bicycle__wheels {
	bottom: 0;
	height: 300px;
	width: 100%;
}
.wheel {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 20px solid black;
	
}
.wheel__back {top: 0; left: 0;}
.wheel__front {right: 0; left: unset;}

.wheel:after {
	content: "";
    position: absolute;
    width: 88%;
    height: 88%;
    border-radius: 50%;
    border: 16px solid white;
    top: 0; left: 0;
}

.bike-wheel-spoke {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
}
.bike-wheel-spoke:after {
	content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    transform: rotate(18deg)
}

.bike-wheel-spoke:before {
	content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    transform: rotate(36deg)
}
.bike-wheel-spoke_2 {transform:rotate(54deg)}
.bike-wheel-spoke_3 {transform:rotate(108deg)}
.bike-wheel-spoke_4 {transform:rotate(162deg)}
.bike-wheel-spoke_4:before, .bike-wheel-spoke_4:after { display:none;}
.bike__frame {
    width: 552px;
    height: 395px;
    bottom: 135px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid black;
    
}
.tube {
    width: 15px;
    background-color: #ee4224;
    height: 30px;
    position: absolute;
    border-radius: 40px;
}
.bike--fork {
    height: 292px;
    transform: rotate(-20deg);
    right: 99px;
    bottom: 0;
}

.tube--right {
    height: 222px;
    transform: rotate(30deg);
    left: 108px;
    top: 173px;
}
.tube--down {
    height: 15px;
    width: 211px;
    left: 56px;
    top: 373px;
    transform: rotate(3deg);
}
.tube--seat {
    height: 309px;
    transform: rotate(-26deg);
    left: 189px;
    top: 98px;
}

.tube--head {
    height: 257px;
    transform: rotate(40deg);
    left: 331px;
    top: 163px;
}

.tube--top {
    height: 15px;
    width: 263px;
    left: 159px;
    top: 189px;
}

.seat {
    height: 22px;
    width: 90px;
    left: 89px;
    top: 112px;
    transform: rotate(-6deg);
    background-color: white;
    border-radius: 50px;
}

.bike__handlebar {
    height: 15px;
    width: 53px;
    left: 409px;
    top: 189px;
    background-color: black;
    border-radius: 50px;
    transform: rotate(-18deg);
}