* {
	box-sizing: border-box;
	margin: 0; padding: 0;
}
:root {
	--soft-dark-color: #1b2f47;
	--main-bg-color: black;
	--color-of-love: #DE1D42;
}

body {
	background-color: #f7d546;
}

.position__abs{position: absolute;}
.bicycle {
	width: 730px;
	height: 430px;
	position: relative;
	    margin: 0 auto;
}
.wheel {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 20px solid black;
	top: 0; left: 0;
}

.wheel:after {
	content: "";
    position: absolute;
    width: 88%;
    height: 88%;
    border-radius: 50%;
    border: 16px solid white;
    top: 0; left: 0;
}

.bike-wheel-spoke {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
}
.bike-wheel-spoke:after {
	content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    transform: rotate(18deg)
}

.bike-wheel-spoke:before {
	content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    transform: rotate(36deg)
}

.bike-wheel-spoke_3 {transform:rotate(54deg)}

.bike-wheel-spoke_6 {transform:rotate(108deg)}
.bike-wheel-spoke_7 {transform:rotate(126deg)}
.bike-wheel-spoke_8 {transform:rotate(144deg)}
.bike-wheel-spoke_9 {transform:rotate(162deg)}