* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-color: #231f20;
    --red-color: #ee4224;
    --white-color: #FFF;
}

body {
    background-color: #f7d546;
}

.position__abs {
    position: absolute;
}

.bicycle {
    width: 730px;
    height: 810px;
    position: relative;
    margin: 0 auto;
}

.bicycle__wheels {
    bottom: 0;
    height: 300px;
    width: 100%;
}

.wheel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 20px solid var(--dark-color);

}

.wheel__back {
    top: 0;
    left: 0;
}

.wheel__front {
    right: 0;
    left: unset;
}

.wheel:after {
    content: "";
    position: absolute;
    width: 88%;
    height: 88%;
    border-radius: 50%;
    border: 16px solid var(--white-color);
    top: 0;
    left: 0;
}

.bike-wheel-spoke {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: var(--white-color);
}

.bike-wheel-spoke:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color:  var(--white-color);
    transform: rotate(18deg)
}

.bike-wheel-spoke:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: var(--white-color);
    transform: rotate(36deg)
}

.bike-wheel-spoke_2 {
    transform: rotate(54deg)
}

.bike-wheel-spoke_3 {
    transform: rotate(108deg)
}

.bike-wheel-spoke_4 {
    transform: rotate(162deg)
}

.bike-wheel-spoke_4:before,
.bike-wheel-spoke_4:after {
    display: none;
}

.bike__frame {
    width: 552px;
    height: 395px;
    bottom: 135px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid var(--dark-color);

}

.tube {
    width: 15px;
    background-color: var(--red-color);
    height: 30px;
    position: absolute;
    border-radius: 40px;
}

.bike--fork {
    height: 292px;
    transform: rotate(-20deg);
    right: 99px;
    bottom: 0;
}

.tube--right {
    height: 222px;
    transform: rotate(30deg);
    left: 108px;
    top: 173px;
}

.tube--down {
    height: 15px;
    width: 211px;
    left: 56px;
    top: 373px;
    transform: rotate(3deg);
}

.tube--seat {
    height: 309px;
    transform: rotate(-26deg);
    left: 189px;
    top: 98px;
}

.tube--head {
    height: 257px;
    transform: rotate(40deg);
    left: 331px;
    top: 163px;
}

.tube--top {
    height: 15px;
    width: 263px;
    left: 159px;
    top: 179px;
    transform: rotate(-3deg);
}

.seat {
    height: 22px;
    width: 90px;
    left: 89px;
    top: 112px;
    transform: rotate(-6deg);
    background-color: var(--white-color);
    border-radius: 50px;
}

.bike__handlebar {
    height: 14px;
    width: 58px;
    left: 383px;
    top: 117px;
    background-color: var(--dark-color);
    border-radius: 50px;
    transform: rotate(-18deg);
}

.grip {
    transform: rotate(18deg);
    border: 10px solid var(--dark-color);
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 70%;
    width: 50px;
    height: 56px;
    top: 111px;
    right: 86px;
}

.grip:before {
    content: "";
    height: 10.08px;
    width: 10px;
    border-radius: 15px;
    left: 25px;
    top: 28.5px;
    position: absolute;
    background-color: var(--dark-color);
}

.chain_function {
    width: 290px;
    height: 96px;
    left: 139px;
    bottom: 103px;
}
.cassette {
    height: 35px;
    width: 35px;
    left: 0px;
    top: 25px;
    background-color: var(--white-color);
    border-radius: 50px;
    border: 8px solid var(--dark-color);
}

.outer__chainring {
    height: 90px;
    width: 90px;
    left: 166px;
    bottom: 0;
    background-color: transparent;
    border-radius: 50px;
    border: 14px solid var(--dark-color);
}

.outer__chainring:before {
    content: "";
    height: 34px;
    width: 34px;
    left: 50%;
    bottom: 50%;
    transform: translate(-16px, 16px);
    background-color: var(--white-color);
    position: absolute;
    border-radius: 50%;
}

.bike__chain {
    position: absolute;
    width: 290px;
    height: 5px;
    left: 139px;
    bottom: 80px;
    background-color: var(--dark-color);
}