:root {
    --white-color: #fff;
    --black-color: #000;
    --pigeon-color: #00dde8;
    --mug-color: #138698;
    --radius3: 3px;
    --radius5: 5px;
    --radius15: 15px;
    --radius25: 25px;
    --radius50: 50%;
    --speaker-position: 174px;
    --flower-secondary-color: #edbd8f;
    --room-height: 990px;
    --denim: #3e4557;
    --file-dot: #ffd23b;
    --bookself-width: 264px;
    --bookself-height: 520px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #618fda;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 35px, rgba(255, 255, 255, .08) 35px, rgba(255, 255, 255, .08) 70px);
}

.room {
    position: relative;
    width: 100%;
    height: var(--room-height);
    margin: 0 auto;
    text-align: center;
}

.container {
    position: relative;
    width: 1528px;
    height: var(--room-height);
    margin: 0 auto;
    /* border: 1px solid; */
    margin: 0 auto;
    border: 1px solid;
}

.room_shadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 123px;
    background-color: #48699f;
    overflow: hidden;
}

.room_shadow:before {
    position: absolute;
    content: " ";
    top: 0;
    width: 100%;
    height: 12px;
    background-color: #263a5c;
    left: 0;
}

.position_abs {
    position: absolute;
}

.abs_center {
    right: 0;
    left: 0;
    margin: 0 auto;
}


/* ============================== Flower pot ============================== */

.pot {
    bottom: 0;
    width: 100px;
    height: 260px;
}

.vase {
    bottom: 64px;
    width: 100%;
    height: 20px;
    border-radius: 3px;
    background: #884526;
}

.vase:before {
    position: absolute;
    top: 20px;
    left: 6px;
    width: 57px;
    height: 0;
    content: '';
    border-top: 64px solid #c75f2e;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-radius: 0 0 28px 28px;
}

.plant {
    z-index: 1;
    bottom: 84px;
    width: 10px;
    height: 42%;
    background: #7eaf31;
}

.flower {
    z-index: 2;
    width: 38px;
    height: 74px;
    border-radius: 60%;
    background-color: #ffebd7;
}

.flower_group {
    top: 0;
    left: 30px;
}

.flower_01 {
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, .1);
}

.flower_02 {
    top: 4px;
    left: 20px;
    transform: rotate(35deg);
    background-color: var(--flower-secondary-color);
}

.flower_03 {
    top: 4px;
    left: -20px;
    transform: rotate(-35deg);
    background-color: var(--flower-secondary-color);
}

.leaf_group {
    top: 80px;
    left: 48px;
}

.leaf {
    width: 60px;
    height: 70px;
    border-radius: 100px 0;
    background-color: #a0de21;
}

.leaf_02 {
    top: -2px;
    left: -55px;
    transform: rotate(-74deg);
}


/* ============================== Flower pot ============================== */

.designer_desk {
    bottom: 60px;
    right: 260px;
    width: 760px;
    height: 720px;
}

.multiplug {
    width: 46px;
    height: 26px;
    background-color: #beedff;
    border: 2px solid #90d4ec;
    border-radius: 7px;
    bottom: 95px;
    right: 216px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

.plug {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #90d4ec;
    left: 4px;
    top: 5px;
}

.plug:after,
.plug:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    left: 4px;
    top: 7px;
}

.plug:before {
    left: 9px;
}

.plug_02 {
    left: 26px;
}


/* ============================== Table ============================== */

.table {
    bottom: 0;
    width: 100%;
    height: 246px;
}


/* Table Top */

.table-top-light {
    width: 100%;
    height: 11px;
    background-color: #e0edf4;
}

.table-top-grey {
    width: 100%;
    height: 5px;
    background-color: #bbd0de;
}


/* Table Top */


/* Drawer Box */

.drawer_box {
    width: 163px;
    height: 230px;
    background-color: #e5edf9;
}

.drawer_left {
    left: 20px;
}

.drawer_right {
    right: 20px;
}

.drawer {
    top: 10px;
    left: 10px;
    overflow: hidden;
    width: 88%;
    height: 62px;
    border-radius: var(--radius3);
    background-color: var(--white-color);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .1);
}

.drawer_handle {
    position: absolute;
    top: -65px;
    right: 0;
    left: 0;
    width: 110px;
    height: 77px;
    margin: 0 auto;
    border-radius: 40px;
    background-color: #bcd;
}

.drawer_middle {
    top: 82px;
}

.drawer_down {
    top: 156px;
}


/* Drawer Box */


/* ============================== Table ============================== */


/* ============================== iMac ============================== */

.iMac {
    bottom: 506px;
    width: 308px;
    z-index: 999;
}

.iMac_black_part {
    top: 0;
    width: 100%;
    height: 171px;
    border-top-left-radius: var(--radius15);
    border-top-right-radius: var(--radius15);
    background-color: #454545;
}

.iMac_camera {
    z-index: 1;
    top: 8px;
    width: 4px;
    height: 4px;
    border-radius: var(--radius50);
    background-color: #0bd80b;
}

.iMac_screen {
    top: 17px;
    width: 91%;
    height: 138px;
    background-color: #535763;
}

.iMac_white_part {
    top: 171px;
    width: 100%;
    height: 40px;
    border-bottom-right-radius: var(--radius25);
    border-bottom-left-radius: var(--radius25);
    background-color: var(--white-color);
}

.iMac_stand {
    top: 211px;
    width: 200px;
    height: 49px;
}

.iMac_stand_top_part {
    top: 0;
    width: 80px;
    height: 0;
    border-right: 15px solid transparent;
    border-bottom: 35px solid #eaeaea;
    border-left: 15px solid transparent;
}

.iMac_stand_bottom_part {
    bottom: 0px;
    width: 79%;
    height: 14px;
    border-top-left-radius: var(--radius3);
    border-top-right-radius: var(--radius3);
    background-color: var(--white-color);
}


/* ============================== iMac ============================== */


/* ============================== Mouse ============================== */

.mouse {
    z-index: 1;
    right: 223px;
    bottom: 246px;
    width: 50px;
    height: 17px;
    border-radius: 130px 130px 0 0;
    background-color: #e6e6e6;
}


/* ============================== Mouse ============================== */


/* ============================== Speaker ============================== */

.speaker {
    bottom: 246px;
    overflow: hidden;
    width: 35px;
    height: 65px;
    border-radius: 6px;
    background-color: var(--black-color);
}

.speaker_left {
    left: var(--speaker-position);
}

.speaker_right {
    right: var(--speaker-position);
}

.woofers,
.subwoofers {
    border: solid 3px var(--white-color);
    border-radius: var(--radius50);
    background-color: #eaeaea;
}

.woofers_dim_pos {
    top: 5px;
    width: 21px;
    height: 21px;
}

.subwoofers_dim_pos {
    top: 38px;
    width: 16px;
    height: 16px;
    left: 1px;
}

.woofers_middle_circle,
.subwoofers_middle_circle {
    width: 90%;
    height: 90%;
    border-radius: var(--radius50);
    background-color: var(--black-color);
}

.woofers_middle_circle_position,
.subwoofers_middle_circle_position {
    top: 1px;
    left: 1px;
}


/* ============================== Speaker ============================== */


/* ============================== Table lamp ============================== */

.table_lamp {
    bottom: 246px;
    left: 36px;
    overflow: hidden;
    width: 270px;
    height: 300px;
    z-index: 999;
}

.table_lamp_stand {
    bottom: 0;
    width: 77px;
    height: 16px;
    border-radius: var(--radius5);
    background-color: var(--pigeon-color);
}

.table_lamp_flexible_arms_left {
    left: 0;
}

.table_lamp_flexible_arms_right {
    left: 14px;
}

.table_lamp_flexible_arms_wrapper_bottom {
    bottom: 0;
    left: 31px;
    transform: rotate(-15deg);
}

.table_lamp_flexible_arms_bottom {
    bottom: 0;
    width: 6px;
    height: 72px;
    background-color: var(--pigeon-color);
}

.table_lamp_arms_joiner {
    bottom: 65px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: var(--radius50);
    background-color: var(--pigeon-color);
}

.table_lamp_flexible_arms_wrapper_top {
    bottom: 120px;
    left: 20px;
    transform: rotate(29deg);
}

.table_lamp_flexible_arms_top {
    bottom: 0;
    width: 6px;
    height: 180px;
    background-color: var(--pigeon-color);
}

.lampshade {
    bottom: 62px;
    left: 56px;
    overflow: hidden;
    width: 100%;
    height: 220px;
    transform: rotate(33deg);
}

.lampshade_top {
    top: 38px;
    width: 35px;
    height: 42px;
    border-top-left-radius: var(--radius15);
    border-bottom-left-radius: var(--radius15);
    background-color: var(--pigeon-color);
}

.lampshade_bottom {
    z-index: 1;
    left: 31px;
    width: 70px;
    height: 120px;
    border-radius: 140px 0 0 140px;
    background-color: var(--pigeon-color);
}

.light {
    top: 29px;
    left: 101px;
    width: 30px;
    height: 60px;
    border-radius: 0 140px 140px 0;
    background: var(--white-color);
    box-shadow: 0 0 59px 0 rgba(255, 255, 255, 1);
}


/* ============================== Table lamp ============================== */


/* ============================== Coffee Mug ============================== */

.coffeeMug_wrapper {
    right: 46px;
    bottom: 298px;
    width: 80px;
    height: 105px;
}

.coffeeMug {
    bottom: 0;
    left: 0;
    width: 46px;
    height: 58px;
    border-radius: 6px 5px 14px 14px;
    background-color: var(--mug-color);
}

.coffeeMug_handle {
    right: 10px;
    bottom: 21px;
    width: 27px;
    height: 15px;
    transform: rotate(-90deg);
    border: 5px solid var(--mug-color);
    border-radius: 6px 5px 10px 20px;
    background: transparent;
}

.tea {
    bottom: 12px;
    left: 19px;
    width: 15px;
    height: 46px;
}

.tea-bag {
    z-index: 1;
    width: 3px;
    height: 15px;
    background: #9be4ff;
}

.tea-bag:after {
    position: absolute;
    top: 15px;
    left: -7px;
    width: 13px;
    height: 16px;
    content: '';
    border: 2px solid #77c7e4;
    border-radius: 34% 34% 0 0;
    background: #9be4ff;
}

.steam {
    bottom: 44px;
    left: 11px;
    width: 60px;
    height: 41px;
    opacity: .5;
}

.steam:after,
.steam:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '~';
    transform: scale(3, 3) rotate(99deg);
    color: white;
    filter: blur(.8px);
}

.steam:before {
    top: -8px;
    left: 20px;
}


/* ============================== Coffee Mug ============================== */


/* ============================== Book ============================== */

.book {
    z-index: 2;
    overflow: hidden;
    width: 124px;
    height: 23px;
}

.book_paper {
    right: 15px;
    bottom: 5px;
    width: 103px;
    height: 12px;
    border-radius: 6px 0 0 4px;
    background-color: var(--white-color);
}

.book_paper:after {
    position: absolute;
    z-index: -1;
    right: -5px;
    bottom: -7px;
    width: 107px;
    height: 12px;
    content: ' ';
    border: 7px solid #1cb99a;
    border-right: none;
    border-radius: 17px 3px 3px 14px;
}

.on_table_01 {
    right: 12px;
    bottom: 246px;
}

.on_table_02 {
    right: 32px;
    bottom: 269px;
}

.on_table_02 .book_paper:after {
    border: 7px solid #ff793f;
    border-right: none;
}


/* ============================== Book ============================== */


/* ============================== Chair ============================== */

.chair {
    z-index: 3;
    bottom: 0;
    width: 250px;
    height: 360px;
}

.chair_stand {
    width: 28px;
    height: 288px;
    border-radius: 3px;
    background-color: var(--denim);
}

.backpart {
    width: 100%;
    height: 184px;
    border-radius: 60px;
    background-color: var(--denim);
}

.seat {
    top: 195px;
    width: 100%;
    height: 34px;
    border-radius: 40px 40px 90px 90px;
    background-color: var(--denim);
}

.caster_group {
    top: 292px;
    width: 100%;
}

.caster {
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translateX(-15px);
    border-radius: 50%;
    background-color: var(--denim);
}

.caster::before {
    position: absolute;
    top: -9px;
    left: 11px;
    width: 7px;
    height: 10px;
    content: '';
    background-color: var(--denim);
}

.caster_02 {
    top: 27px;
    left: 1px;
}

.caster_03 {
    top: 27px;
    left: 250px;
}

.base_group {
    top: 205px;
    width: 100%;
    height: 138px;
}

.base {
    width: 28px;
    height: 150px;
    border-radius: 20px;
    background-color: var(--denim);
}

.base_01 {
    left: 44px;
    transform: rotate(68deg);
}

.base_02 {
    right: 44px;
    transform: rotate(-68deg);
}


/* ============================== Chair ============================== */


/* ============================== Book Self Big ============================== */

.bookself_big {
    width: 326px;
    height: 762px;
    background-color: transparent;
    border-left: solid 11px #ebfcff;
    border-right: solid 11px #ebfcff;
    bottom: 60px;
    left: 100px;
}


/* ============================== Book Self Big ============================== */


/* ============================== window ============================== */

.window {
    width: 264px;
    height: 387px;
    background-color: white;
    border: solid 5px #c9c9c9;
    top: 150px;
    left: 520px;
}

.glass {
    background-color: #424e61;
    top: 25px;
    width: 212px;
    height: 337px;
    overflow: hidden;
}

.glass:after,
.glass:before {
    position: absolute;
    content: "";
    background-color: #4f5a6b;
    width: 140%;
    transform: rotate(155deg);
    left: -43px;
    top: 110px;
}

.glass:before {
    height: 25px;
}

.glass:after {
    height: 44px;
    top: 150px;
}

.moon {
    left: 50px;
    top: 50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    box-shadow: inset -4px 6px 0 3px #f3d076;
    border-radius: 50%;
    transform: rotate(91deg);
}

.window_divider {
    width: 5px;
    height: 100%;
    top: 0;
    background-color: white;
}

.window_divider:before,
.window_divider:after {
    position: absolute;
    content: "";
    height: 5px;
    background-color: white;
    width: 212px;
    top: 130px;
    left: -103px;
}

.window_divider:after {
    top: 246px;
}


/* ============================== window ============================== */


/* ============================== Clock ============================== */

.wall_components {
    top: 140px;
    width: 690px;
    height: 352px;
    right: 0;
}

.clock {
    right: 80px;
    width: 120px;
    height: 120px;
    border: 6px solid #33607f;
    border-radius: 50%;
    background-color: var(--white-color);
}

.center,
.center_seconds {
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #33607f;
}

.center_seconds {
    z-index: 6;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d85534;
}

.hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transform-origin: center bottom;
    border-radius: 40px;
}

.seconds {
    z-index: 5;
    top: 64%;
    width: 3px;
    height: 93px;
    transform-origin: center 75%;
    background-color: #d85534;
}

.minutes {
    z-index: 4;
    width: 8px;
    height: 65px;
    background-color: #027c91;
}

.hours {
    z-index: 3;
    width: 6px;
    height: 50px;
    background-color: #0e475a;
}

.marks {
    top: 4px;
    left: 50%;
    width: 3px;
    height: 138px;
    transform: translate(-50%, 0%) rotate(0deg);
    border-top: 20px solid #33607f;
}

.marks:after {
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 3px;
    height: 8px;
    content: ' ';
    transform: translate(-50%, -50%) rotate(0deg);
    border-top: 20px solid #33607f;
}

.marks+.marks {
    top: 50%;
    left: 76px;
    transform: translate(-50%, -50%) rotate(90deg);
}


/* ============================== Clock ============================== */


/* ============================== Book Self ============================== */

.wall_bookself:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 13px;
    content: ' ';
    background-color: var(--white-color);
    box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
}

.wall_bookself_left {
    top: 30px;
    left: 0px;
    width: 364px;
    height: 150px;
}

.wall_bookself_right {
    right: 0px;
    width: 370px;
    height: 150px;
    top: 160px;
    right: 0px;
    width: 356px;
    height: 150px;
}

.wall_book_group {
    right: 10px;
    bottom: 13px;
    width: 220px;
    height: 130px;
}


/* ============================== Book Self ============================== */


/* ============================== Wall Book Self Book ============================== */

.wall_book {
    /* width: 180px;
	height: 36px; */
}

.wall_book_paper {
    width: 96px;
    height: 13px;
    border-radius: 11px 0 0 9px;
}

.wall_book_paper:after {
    position: absolute;
    bottom: -5px;
    width: 101px;
    height: 13px;
    content: ' ';
    border: 5px solid #ed7d4d;
    border-right: none;
}

.wall_book_01 {
    bottom: 0;
    left: 75px;
}

.wall_book_02 {
    bottom: 23px;
    left: 60px;
}

.wall_book_02 .wall_book_paper:after {
    border: 5px solid #a3d39c;
    border-right: none;
}

.wall_book_03 {
    bottom: 46px;
    left: 76px;
    transform: rotate(180deg);
}

.wall_book_03 .wall_book_paper:after {
    border: 5px solid #ff0000;
    border-right: none;
}

.wall_book_04 {
    bottom: 69px;
    left: 105px;
}

.wall_book_04 .wall_book_paper:after {
    border: 5px solid #ffd23b;
    border-right: none;
}

.camera {
    bottom: 13px;
    left: 35px;
    width: 64px;
    height: 38px;
}

.camera_body {
    bottom: 0;
    width: 100%;
    height: 38px;
    border-radius: 2px;
    background-color: #f2deea;
    box-shadow: 2px -1px 9px -1px rgba(0, 0, 0, .3);
}

.camera_body:before {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 24px;
    content: ' ';
    background-color: #eb5652;
}

.camera_button {
    top: -2px;
    left: 6px;
    width: 15px;
    height: 2px;
    background-color: #8b2b37;
}

.camera_button:before {
    position: absolute;
    top: -2px;
    left: 3px;
    width: 65%;
    height: 2px;
    content: ' ';
    background-color: #fff2e5;
}

.flash {
    top: 2px;
    right: 2px;
    width: 13px;
    height: 5px;
    border-radius: 1px;
    background-color: #8b2b37;
}

.camera_light {
    top: 2px;
    left: 11px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #8b2b37;
}

.camera_lens {
    top: 7px;
    right: 8px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #fffced;
}

.camera_lens:after {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 17px;
    height: 17px;
    content: ' ';
    border: 2px solid #d8a1a8;
    border-radius: 50%;
    background-color: #ffe4e0;
}


/* ============================== Wall Book Self Book ============================== */


/* ============================== File ============================== */

.file_group {
    bottom: 13px;
    left: 40px;
    width: 124px;
    height: 74px;
}

.file {
    left: 0;
    width: 26px;
    height: 74px;
    border-radius: 3px;
    background: #027c91;
}

.file::before {
    position: absolute;
    top: 10px;
    left: 4px;
    width: 73%;
    height: 22px;
    content: ' ';
    border-radius: 4px;
    background: var(--white-color);
}

.file::after {
    position: absolute;
    bottom: 6px;
    left: 8px;
    width: 12px;
    height: 12px;
    content: ' ';
    border-radius: 50%;
    background: var(--file-dot);
}

.file_01 {
    bottom: 2px;
    transform: rotate(20deg);
}

.file_02 {
    left: 37px;
    background: #526979;
}

.file_03 {
    left: 63px;
    background: #ea5652;
}


/* ============================== File ============================== */


/* ============================== Book 06 ============================== */

.book_06 {
    bottom: 13px;
    left: 210px;
    width: 29px;
    height: 106px;
    border-radius: 4px;
    background: #ffd23b;
}

.book_06::before,
.book_06::after {
    position: absolute;
    top: 18px;
    left: 3px;
    width: 86%;
    height: 4px;
    content: ' ';
    opacity: .8;
    border-radius: 2px;
    background: var(--white-color);
}

.book_06_line {
    bottom: 14px;
    left: 4px;
    width: 75%;
    height: 35px;
    opacity: .8;
    border-radius: 2px;
    background: var(--white-color);
}

.book_06::before {
    top: 26px;
}


/* ============================== Big Book ============================== */

.bigbook {
    bottom: 13px;
    left: 239px;
    width: 33px;
    height: 83px;
    border-radius: 4px;
    background: #203b4e;
}

.bigbook::before,
.bigbook::after,
.bigbookLine::before {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    height: 3px;
    content: ' ';
    background: var(--white-color);
}

.bigbook::before {
    top: 26px;
}

.bigbookLine {
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--white-color);
}

.bigbookLine::before {
    top: 8px;
}


/* ============================== Big Book ============================== */


/* ============================== Big Book ============================== */

.logn_light_book {
    bottom: 14px;
    left: 273px;
    width: 18px;
    height: 145px;
    transform: rotate(-10deg);
    border-radius: 2px;
    background: #009688;
}

.logn_light_book::before,
.logn_light_book::after {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 4px;
    content: ' ';
    background: rgba(0, 0, 0, .3);
}

.logn_light_book::after {
    top: 123px;
}

.logn_light_book_line {
    top: 37px;
    left: 0;
    width: 100%;
    height: 76px;
    background: rgba(0, 0, 0, .3);
}


/* ============================== Big Book ============================== */


/* ============================== Book 07 ============================== */

.book_07 {
    bottom: 13px;
    left: 304px;
    width: 24px;
    height: 98px;
    border-radius: 4px;
    background: #ff5722;
}

.book_07::before,
.book_07::after,
.book_07_line::before,
.book_07_line::after {
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: 3px;
    content: ' ';
    background: var(--white-color);
}

.book_07::before {
    top: 17px;
}

.book_07_line {
    top: 32px;
    left: 0;
    width: 100%;
    height: 36px;
    background: var(--white-color);
}

.book_07_line::before {
    top: 46px;
}

.book_07_line::after {
    top: 52px;
}


/* ============================== Book 07 ============================== */


/* ============================== Book 08 ============================== */

.book_08 {
    bottom: 20px;
    left: 240px;
    width: 32px;
    height: 122px;
    transform: rotate(10deg);
    border-radius: 4px;
    background: #3f51b5;
}

.book_08::before,
.book_08::after,
.book_08_line::before,
.book_08_line::after {
    position: absolute;
    top: 53px;
    left: 4px;
    width: 78%;
    height: 4px;
    content: ' ';
    background: var(--white-color);
}

.book_08::before {
    top: 62px;
}

.book_08_line {
    top: 12px;
    left: 4px;
    width: 78%;
    height: 24px;
    border-radius: 5px;
    background: var(--white-color);
}

.book_08_line::before {
    top: 59px;
    left: 0;
    width: 100%;
}

.book_08_line::after {
    top: 76px;
    left: 0;
    width: 100%;
    height: 24px;
    border-radius: 5px;
}


/* ============================== Book 08 ============================== */


/* ============================== Sticky Notes ============================== */

.sticky_notes {
    z-index: 9;
    bottom: -49px;
    left: 180px;
    width: 62px;
    height: 54px;
    transform: rotate(9deg);
    border-radius: 2px;
    background: #f9cd6a;
    box-shadow: 7px 5px 10px rgba(0, 0, 0, .2);
}

.sticky_notes_02 {
    left: 260px;
    transform: rotate(4deg);
    background: #ffbda3;
}

.sticky_notes_03 {
    left: 371px;
    background: #b9e2a8;
    transform: rotate(-5deg);
}


/* .sticky_notes:before {
content:"";
position:absolute;
top:0;
right:0;
border-width:0 16px 16px 0;
border-style:solid;
border-color:#fff #fff #658E15 #658E15;
background:#658E15;
display:block; width:0;
box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
} */

.line {
    top: 10px;
    width: 80%;
    height: 4px;
    opacity: .8;
    background-color: var(--white-color);
}

.line_02 {
    top: 19px;
}

.line_end {
    top: 29px;
}

.line_end:before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 80%;
    height: 4px;
    content: ' ';
    background-color: var(--white-color);
}


/* ============================== Sticky Notes ============================== */


/* ============================== Bookself ============================== */

.bookself {
    right: 0;
    bottom: 0;
    width: var(--bookself-width);
    height: var(--bookself-height);
    border: 20px solid #e0edf4;
    background-color: #31738c;
    box-shadow: inset 0 0 16px 10px rgba(25, 76, 95, .15);
    border-radius: 5px 5px 0 0;
}

.bookself:after {
    position: absolute;
    top: 50%;
    width: 264px;
    height: 20px;
    content: '';
    transform: translate(-50%, -50%);
    background-color: #e0edf4;
}


/* ============================== Bookself ============================== */


/* ============================== Printer ============================== */

.printer {
    top: -20px;
    width: 250px;
    height: 200px;
    transform: translateY(-100%);
}

.printer_main_body {
    bottom: 0;
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
    background-color: #343337;
}

.printer_top_body {
    bottom: 69px;
    width: 70%;
    height: 40px;
    border-radius: 0 0 20px 20px;
    background-color: #28282b;
}

.papertry_top {
    bottom: 110px;
    width: 70%;
    height: 30px;
    border-radius: 10px 10px 0 0;
    background-color: #4d4b52;
}

.paper_container_top,
.paper_container_bottom {
    top: 0;
    overflow: hidden;
    width: 55%;
    height: 90px;
}

.paper {
    width: 100%;
    height: 90px;
    background-color: var(--white-color);
}

.paper_output_hole {
    bottom: 21px;
    width: 70%;
    height: 22px;
    border-radius: 6px;
    background-color: #28282b;
}

.paper_container_bottom {
    top: 170px;
    width: 80%;
    height: 40px;
    perspective: 100px;
}

.paper_bottom {
    top: -25px;
    width: 68%;
    height: 57px;
    transform: rotateX(45deg) translateY(0px);
    transform-style: preserve-3d;
}

.papertry_bottom {
    bottom: 7px;
    width: 80%;
    height: 51px;
    transform: rotateX(45deg) translateY(0px);
    background-color: #535353;
    transform-style: preserve-3d;
}

.papertry_block {
    bottom: 4px;
    width: 50px;
    height: 6px;
    border-radius: 4px 4px 0 0;
    background-color: #535353;
}


/* ============================== Printer ============================== */


/* ============================== Office Files  ============================== */

.office_files_group {
    width: 200px;
    height: 220px;
    top: 30px;
    left: 24px;
}

.office_file {
    background-color: #f7ea44;
    width: 50px;
    height: 185px;
    bottom: 0;
}

.office_file:after {
    position: absolute;
    width: 12px;
    height: 12px;
    content: '';
    background-color: #2a1900;
    border: 8px solid #c1c4bb;
    border-radius: 50%;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.label {
    top: 18px;
    width: 80%;
    background-color: #e0edf4;
    height: 90px;
}

.label:after,
.label:before {
    position: absolute;
    width: 100%;
    height: 6px;
    content: '';
    background-color: #bbbab8;
    bottom: 0;
    left: 0;
}

.label:before {
    top: 0;
}

.office_file_line {
    width: 80%;
    top: 18px;
    height: 3px;
    background-color: #bbbab8;
}

.office_file_line:after,
.office_file_line:before {
    position: absolute;
    width: 100%;
    height: 3px;
    content: '';
    background-color: #bbbab8;
    top: 8px;
    left: 0;
}

.office_file_line:before {
    top: 16px;
}

.office_file_02 {
    left: 60px;
    background-color: #ef4136;
}

.office_file_03 {
    left: 133px;
    background-color: #91e663;
    transform: rotate(-15deg);
    bottom: 3px;
}


/* ============================== Office Files  ============================== */

.basketball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 420px;
    left: 2%;
    overflow: hidden;
    background: radial-gradient(ellipse at center, rgba(239, 92, 48, 1) 0%, rgba(224, 51, 44, 1) 47%);
}

.basketball:after {
    position: absolute;
    content: "";
    width: 70px;
    height: 60px;
    border-top: 5px solid #b71815;
    border-right: 5px solid #b71815;
    top: 27px;
    left: -20px;
    border-radius: 83px 100px 31px 55px;
    transform: rotate(39deg);
}